  <div class="row">
    <% @products.each do |product| %>
                <div class="col-md-3 col-xs-12">
                    <div class="content">
                        <%= link_to(product, class: "hvr-grow") do %>
                            <div class="product-card">
                                <div class="image">
                                    <img src="<%= product.img %>" class="img-responsive">
                                </div>
                                <div class="profit">
                                    <% @profit = (product.sellprice - product.storeprice) %>
                                    💰 $<%= @profit %>
                                </div>
                                <div class="title">
                                    <h4><%= product.title %></h4>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
        <% end %> 
</div>