<div class="row">

    <div class="col-md-12">
        <div class="container">
        <h1 class="feature-title-showcase">Contact us</h1>
        <h2 class="feature-title-showcase">We anwser within 24 hours</h2>
        <br>
        <a href="mailto:dropshipherocom@gmail.com"><h2 class="feature-title-showcase">Write us an Email at dropshipherocom@gmail.com</h2></a>

        </div>
    </div>

    <div class="col-md-12 header">
            <div class="container">
            <%= link_to(:back) do %><button class="btn btn-primary"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Back</button><% end%>
            </div>
    </div>

</div>