<section class="home-head">
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <%= render "shared/alerts" %>
      </div>
      <div class="col-md-5 col-xs-12">
        <div class="home-sign-up-card shadowed">
          <div class="header">
            <h1>Find Winning Products<br>
                For Your E-Commerce Store.</h1>
          </div>
          <div class="home-login-panel">
            <div class="home-signup-panel">
                <h3>Learn more about the benefits of DropshipHero <a href="#">here</a>.</h3>
                <h4>or</h4>
                <h3><a href="#">Start your 7-Day Free Trial now!</a></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
