<div class="container">
   <div class="jumbotron">
       <h1>Welcome!</h1>
       <p>DropshipHero is currently in version 1.1 so bugs and errors should be expected. We are researching winning products for your ecommerce business.</p>
   </div>
    
     
</div>