<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><%= @user.email %> </h1>
        </div>

        <div class="col-md-4">
            <h3>Your Subscription</h3>
            <p><%= @subscription.plan.nickname %></p>


        </div>
    
    
    
    
    
    </div>
</div>