.category-card{
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.category-card h1{
    font-size: 180%;
    padding-top: 0px;
    margin-top: 10px;
}