@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome";
@import "https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic";
@import "animate";

.navigation{
    background: #f4f5f6;
    border-bottom: .1rem solid #d1d1d1;
    display: block;
    height: 5.2rem;
    left: 0;
    max-width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.center{
    text-align: center;
}

.navbar-logo{
    max-height: 30px;
    margin-top: -5px;
}

.top-margin{
    margin-top: 10px;
}

.float-right{
    float: right;
}

.text-right{
    text-align:right;
}

.header{
    margin-top: 1em;
}

.product-image{
    border-radius: 5px;
}

.profit{
    font-weight: 600;
}

.content{
    padding: 5px;
    margin-top: 10px;
}

.content a{ 
    color: black;
}

.content a:hover{
    text-decoration: none;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.product-card{
    box-shadow: 6px 7px 30px -6px rgba(0,0,0,0.28);
    padding: 6px;
    text-align: center;
    text-decoration: none;
}

.product-card .image{
    margin: -6px;
}

.product-card .title{
    color: #606c76;
    font-size: 120%;
}

.bg-red{
    background-color: rgb(180, 62, 43);
    color: white;
}

.bg-blue{
    background-color: #092033;
    color: white;
}

.product-card .profit{
    border-top: 1px solid #eaeaea;
    padding-top: 8px;
    color: black;
    font-weight: 600;
    font-size: 110%;
}

.small-label{
    margin-bottom: -20px;
}

.home-showcase{
    max-height: 200px;
}

.join-now{
    text-align: center;
}

.btn-join{
    background-color: #ff9100;
    color: white;

    font-weight: 800;
    font-size: 200%;

    padding: 10px;

    margin-bottom: 20px;

    width: 50%;
}

.btn-join:hover{
    color:white;
}

.shadowed{
    box-shadow: 10px 10px 49px -24px rgba(0,0,0,0.75);
}


#homeimage{
    max-height: 70px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
}

.productindex{
    margin-bottom: 50px;
}

.product-description{
    font-size: 120%;
}

.blue{
    color: #0b0d5c;
}

.audiences{
    background-color: white;
    padding-left: 10px;
}

.audiencelist .table-striped{
    width: 100%;
}

.audiencelist .table-striped td{
    font-size: 110%;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #373e44;
}

#igcolor{
    color: #58070e;
}

#icon{
    color:black;
}