@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome";
@import "animate";

@import "https://fonts.googleapis.com/css?family=Arvo";
@import "https://fonts.googleapis.com/css?family=Nunito";

body
{
    font-family: 'Nunito';
}

.navbar-default .navbar-nav li a 
{
    font-weight: 500;
    color: #373e44;
}

.navbar-default .navbar-nav li a:hover 
{
    color: #ff9100;
}

.center
{
    text-align: center;
}

.navbar-logo
{
    max-height: 30px;
    margin-top: -5px;
}

.top-margin
{
    margin-top: 10px;
}

.float-right
{
    float: right;
}

.text-right
{
    text-align:right;
}

.header
{
    margin-top: 1em;
}

.product-image
{
    border-radius: 5px;
}

.profit
{
    font-weight: 600;
}

.content
{
    padding: 5px;
    margin-top: 10px;
}

.content a
{ 
    color: black;
}

.content a:hover
{
    text-decoration: none;
}

.hvr-grow 
{
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active 
{
    transform: scale(1.1);
}

.product-card
{
    box-shadow: 6px 7px 30px -6px rgba(0,0,0,0.28);
    padding: 6px;
    text-align: center;
    text-decoration: none;
}

.product-card .image
{
    margin: -6px;
}

.product-card .title
{
    color: #606c76;
    font-size: 120%;
}

.bg-red
{
    background-color: rgb(180, 62, 43);
    color: white;
}

.bg-blue
{
    background-color: #092033;
    color: white;
}

.product-card .profit
{
    border-top: 1px solid #eaeaea;
    padding-top: 8px;
    color: black;
    font-weight: 600;
    font-size: 110%;
}

.small-label
{
    margin-bottom: -20px;
}

.home-showcase
{
    max-height: 200px;
}

.join-now
{
    text-align: center;
}

.btn-join
{
    background-color: #ff9100;
    color: white;

    font-weight: 800;
    font-size: 150%;

    padding: 10px;

    margin-bottom: 20px;

    width: 100%;
}

.btn-join:hover
{
    color:white;
}

.shadowed{
    box-shadow: 10px 10px 49px -24px rgba(0,0,0,0.75);
}


#homeimage
{
    max-height: 70px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 5px;
}

.productindex
{
    margin-bottom: 50px;
}

.product-description
{
    font-size: 120%;
}

.blue
{
    color: #0b0d5c;
}

.audiences
{
    background-color: white;
    padding-left: 10px;
}

.audiencelist .table-striped
{
    width: 100%;
}

.audiencelist .table-striped td
{
    font-size: 110%;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #373e44;
}

.login
{
    padding: 10px;
    padding-top: 50px;
    background-color: #eaeaea;
    border-radius: 5px;
}

#igcolor
{
    color: #58070e;
}

#shopicon
{
    color: #ff9100;
}

#icon
{
    color:black;
}

.UserPanel
{
    background-color: white;
    color: #373e44;
    padding: 10px;
    border-radius: 5px;
}

.UserCountryPanel
{
    background-color: white;
    color: #373e44;
    padding: 10px;
    border-radius: 5px;
}

.title
{
    margin-bottom: 10px;
    color: #373e44;
}

.btn-primary
{
    background-color: #ff9100 !important;
    border-color: #ff9100 !important;
}

.btn-primary:hover
{
    background-color: #df7f03 !important;
    border-color: #df7f03 !important;
}

.btn-primary:active
{
    outline: none !important;
    background-color: #df7f03 !important;
    border-color: #df7f03 !important;
}

.btn-primary:visited
{
    background-color: #df7f03 !important;
    border-color: #df7f03 !important;
}

.tagline
{
    font-size: 400%;
}

.box
{
    text-align: center;

    padding-bottom: 10px;
}

.bg-orange{
    background-color: #ff9100;
    color:white;
}

.box-content{
    border-radius: 10px;
    padding: 10px;
    padding-top:0px;
}

.box .info-label
{
    padding-top: 10px;
    margin-bottom: -15px;

}

.box .score
{
    font-weight: bold;
    font-size: 200%;
}

#minus{
    margin-top: 33px;
}