.home-head{
    background-color: rgb(168, 173, 250);
    background-image: linear-gradient(19deg, rgb(168, 173, 250) 0%, #DDD6F3 100%);
    min-height: 93vh;
    margin-top: -20px;
}

.home-sign-up-card{
    background-color: white;
    border-radius: 5px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 5px;
    margin-bottom: 20px;
}

.home-sign-up-card h1{
    font-weight: bold;
    font-size: 180%;
}

.home-login-panel{
  margin-top: 20px;
}

.home-signup-panel h1{
    font-size: 160%;
}

.home-signup-panel h3{
    font-size: 140%;
}
.home-signup-panel h4{
    font-size: 120%;
    margin-bottom: -10px;
}

@media (min-width: 992px) { 
    .home-sign-up-card{
        margin-top: 10vh;
    }
 }