.btn-xlg{
    font-size: 160%;
    font-weight: 500;
    min-width: 40%;
    margin-top: 5px;
    padding: 10px;
}

.land-how-it-works-section{
    padding: 20px;
    padding-bottom: 30px;
    background-color: #eeeeee;

}

.land-welcome-section{
    min-height: 88vh;
    background-color: #F16664;
    margin-top: -20px;
}

.land-feature-card{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #F16664;
    min-height: 35vh;
    margin-top: 20px;
}

.land-feature-card h4{
    text-align: center;
}

.land-feature-card p{
    text-align: center;
    padding: 5px;
    font-size: 120%;
}

.land-key-features{
    margin-top: 20px;
    padding: 10px;
}

.land-social-proof{
    padding: 10px;
    background-color: #eeeeee;
}

.land-pricing-plans{
    padding: 10px;
}

.land-pricing-card{
    border: 5px solid #F16664;
    border-radius: 5px;
}

.land-product-points{
    margin:0;
    margin-bottom: 10px;
    padding:0;
    text-align: center;
    list-style: none;
    font-size: 110%;
}

.faq-question{
    margin-top: 10px;
    border-radius: 10px;
    background-color: #3e3d7a;
    color: white;
    padding: 30px;
}

.faq-anwser{
    margin-top: 10px;
    border-radius: 10px;
    background-color: #F16664;
    color: #ffffff;
    padding: 30px;
    color: white;
    font-size: 120%;
}

.land-faq{
    padding: 10px;
    background-color: #eeeeee;
}

@media (min-width: 576px) { 
    .display-middle{
        margin-top: 20vh;
    }
 }

@media(max-width: 575px) {
    .btn-xlg{
        width: 100%;
    }
}