.btn-xlg{
    font-size: 160%;
    font-weight: 500;
    min-width: 40%;
    margin-top: 5px;
    padding: 10px;
}

.land-how-it-works-section{
    padding: 20px;
    padding-bottom: 30px;
    margin-top: 20px;
    background-color: #eeeeee;

}

.land-welcome-section{
    height: 88vh;
}

.land-feature-card{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #F16664;
}

.land-feature-card h4{
    text-align: center;
}

.land-feature-card p{
    text-align: center;
}

.land-key-features{
    margin-top: 20px;
    padding: 10px;
}



@media (min-width: 576px) { 
    .display-middle{
        margin-top: 20vh;
    }
 }

@media(max-width: 575px) {
    .btn-xlg{
        width: 100%;
    }
}