.head-section{
    margin-top: -20px !important;
    margin-bottom: 50px;
    //height: 600px;
    background-color: #F16664;
    color: white;
}

.sales-header{
    letter-spacing: -2px;
    font-size: 300%;
}

.sales-subheader{
    font-size: 180%;

    letter-spacing: -2px;
    font-weight: 600px;
    margin-bottom: -20px;
}

.sales-mainimg{
    max-height: 200px;

}

.sales-submit-button{
    width: 65%;
}

.sales-price-card{
    background-color: #f8f8f8;
    border-radius: 10px;
    border: 3px solid #F16664;
}

.sales-price-card h1{
    letter-spacing: -1px;
    font-weight: 600;
}

.sales-price-card .sales-per-month{
    margin-top: -10px;
}

.sales-price-card h2{
    color: #6343dc;
    letter-spacing: -1px;
    font-weight: 600;
    font-size: 140%;
    margin-top: -8px;
}

.sales-price-card ul{
    list-style: none;
    text-align: center;
    padding-left: 0px !important;
}

.sales-price-card ul li{
    font-size: 120%;
}

.sales-sign-up-title{
    letter-spacing: -1px;
    font-weight: 600px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

.sales-screenshot{
    max-height: 30%;
    border-radius: 3px;
    margin: 10px;
}