.page-fit{
    margin-top: -20px;
}

.content-box{
    padding: 20px;
    border-radius: 5px;
    color: #484848;
}

.content-box h1{
    margin-top: -4px;
    letter-spacing: -1px;
    font-weight: 600;
    font-size: 200%;
}

.no-header{
    margin-top: -50px;
}

.sales-submit-button{
    font-size: 200%;
    padding: 18px;
}