<div class="row">
        <div class="col-md-12 col-xs-12"><h2><i class="fa fa-instagram" id="igcolor"></i> Instagram</h2></div>
    </div>
    
    <div class="row">
        <div class="col-md-4 col-xs-12"> 
            <div class="content">
                <div class="audiences center">
                    <div class="title"><h3>Influencer</h3></div>
                    <div class="audiencelist">
                        <table class="table-striped">
                            <tr><td>@influencer1</td></tr>
                            <tr><td>@influencer1</td></tr>
                            <tr><td>@influencer1</td></tr>
                            <tr><td>@influencer1</td></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</div>