<div class="container productindex">
    <section class="product-navigation header top-margin">
          <h1 class="animated fadeIn fast">Winning Products</h1>
    </section>
    <hr>
    
     <%= render 'shared/productview' %> 

</div>