<nav class="navigation">
  <section class="container">
    <a class="navigation-title">DropshipHero α1.0</a>
    <div class="float-right">
      <%= link_to "New product", new_product_path, class: "button navigation-button"%>
    </div>
  </section>
</nav>