<!-- <nav class="navigation">
  <section class="container">
    
    <div class="float-right">
      
    </div>
  </section>
</nav> -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "DropshipHero α1.1", root_path, class: "navbar-brand" %>
      <%= link_to "New product", new_product_path, class: "btn btn-default navbar-btn"%>
    </div>
  </div>
</nav>